In [1]:
import sqlite3

In [12]:
conn = sqlite3.connect('ages.sqlite')
cur = conn.cursor()

In [13]:
cur.execute('''
CREATE TABLE IF NOT EXISTS Ages (
  name VARCHAR(128),
  age INTEGER
)''')

In [14]:
cur.execute('DELETE FROM Ages')

In [15]:
cur.execute('INSERT INTO Ages (name, age) VALUES (?, ?)', ('Mara', 28))
cur.execute('INSERT INTO Ages (name, age) VALUES (?, ?)', ('Otto', 33))
cur.execute('INSERT INTO Ages (name, age) VALUES (?, ?)', ('Fyn', 31))
cur.execute('INSERT INTO Ages (name, age) VALUES (?, ?)', ('Neshawn', 17))

In [16]:
cur.execute('SELECT hex(name || age) AS X FROM Ages ORDER BY X')

In [17]:
rows = cur.fetchall()

In [18]:
if len(rows) > 0:
    first_row = rows[0][0]
    print("The first row in the resulting record set:", first_row)

The first row in the resulting record set: 46796E3331

In [9]:
cur.close()
conn.close()